{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(0,length,1) %}
            <tr>
                {% set result = lookup(portfolio[i]["symbol"]) %}
                <td class="text-start">{{ portfolio[i]["symbol"].upper() }}</td>
                <td class="text-start">{{ portfolio[i]["stock"] }}</td>
                <td class="text-end">{{ portfolio[i]["shares"] }}</td>
                <td class="text-end">{{ result["price"] | usd }}</td>
                <td class="text-end">{{ portfolio[i]["total"] | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{ cash | usd}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ sumtotal | usd }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}